#clockContainer {
	position: relative;
	margin: auto;
	height: 10vw;
	/*to make the height and width responsive*/
	width: 10vw;
	background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Horlo%C4%9Do_001.svg/1200px-Horlo%C4%9Do_001.svg.png") no-repeat;
	/*setting our background image*/
	background-size: 100%;
	margin-left: 1150px;
	margin-top: -350px;
}

#hour,
#minute,
#second {
	position: absolute;
	background: black;
	border-radius: 10px;
	transform-origin: bottom;
}

#hour {
	width: 1.8%;
	height: 25%;
	top: 25%;
	left: 48.85%;
	opacity: 0.8;
}

#minute {
	width: 1.6%;
	height: 30%;
	top: 19%;
	left: 48.9%;
	opacity: 0.8;
}

#second {
	width: 1%;
	height: 40%;
	top: 9%;
	left: 49.25%;
	opacity: 0.8;
}

#time {
	margin-bottom: -100px;
	position: absolute;
	bottom: 20px;
	width: 50%;
	border: 3px solid #1c0fa2;
	background: white;
	color: black;
	margin-left:50px;
}